interface=${LAN_IFACE}
driver=nl80211
ssid=${AP_SSID}
country_code=${COUNTRY_CODE}
hw_mode=${AP_HW_MODE}
channel=${AP_CHANNEL}
ieee80211n=1
wmm_enabled=1

auth_algs=1
wpa=${AP_WPA}
wpa_passphrase=${AP_PASSPHRASE}
wpa_key_mgmt=${AP_WPA_KEY_MGMT}
rsn_pairwise=${AP_RSN_PAIRWISE}

